* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f3f3f3;
    overflow: hidden;
}
/*
    Applications
*/
.app{
    background-color: rgb(86, 137, 201);
    transition: all 1000ms;
    -webkit-transition: all 1000ms;
    position:absolute;
    border-radius: 10px;
    /*-webkit-box-shadow: 20px 20px 20px #000;*/
    box-shadow: 20px 20px 20px #000;
    border: 1px solid #002232;
    width: 700px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin: -250px 0 0 -350px;
    -webkit-perspective: 800;
    perspective: 800;
}
.shadowRemoval{
    box-shadow: none;
    border: none;
    background-color: #FFF;
}
.flyIn {
    left: 50%;
    -webkit-transform:  rotateY(0) rotate(0);
    transform:rotateY(0) rotate(0);
    /*-webkit-animation: flyIn 800ms ease-in;*/
}

.flyOut {
    left: -10%;
    -webkit-transform: rotateY(-90deg) rotate(-90deg);
    transform: rotateY(-90deg) rotate(-90deg);
    /*-webkit-animation: flyOut 800ms ease-in;*/
}
.button{
    box-shadow: 3px 3px 5px #000;
    background-color: rgb(86, 137, 201);
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin-left: 10px;
    font-weight: bolder;
    cursor: pointer;
}
.button:hover{
    box-shadow: 5px 5px 5px #000;

}
.textbox {
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: inset 0px 0px 10px black;
    background-color: #D7DDE6;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
}
input:focus{
    background-color: #DFE68B;
}
.datagrid table {
    border-collapse: collapse;
    text-align: left; width: 100%;
}
.datagrid {
    font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif;
    background: #fff; overflow: hidden; border: 2px solid #8C8C8C;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    top: 20%;
    position: absolute;
    width: 650px;
    margin: 0 0 0 25px;
    box-shadow: 0px 0px 100px #000;
}
.datagrid table{
    text-align: center;
}
.datagrid p{
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.datagrid table td, .datagrid table th {
    padding: 3px 10px;
}
.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );
    background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
    background-color:#8C8C8C;
    color:#020555;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #A3A3A3;
}
.datagrid table thead th:first-child {
    border: none;
}
.datagrid table tbody td {
    color: #000000;
    border-left: 1px solid #DBDBDB;
    font-size: 12px;
    border-bottom: 1px solid #E1EEF4;
    font-weight: bold;
}
.datagrid table tbody .alt td {
    background: #EBEBEB;
    color: #000000;
}
.datagrid table tbody td:first-child {
    border-left: none;
}
.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.arrowUp {
    -webkit-transform: rotate(90deg);
    width: "20px";
    height: "20px";
}
.arrowDown {
    -webkit-transform: rotate(-90deg);
}
.arrowRight{
    -webkit-transform: rotate(180deg);
}
.arrowLeft{
    -webkit-transform: rotate(0deg);
}


/*
    States
*/
.SStart{
    /*margin: 0 auto;*/
    margin: -125px 0 0 -150px;

    background-color: #797979;
    position:absolute;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 100px #000;
    box-shadow: 0px 0px 100px #000;
    border: 2px solid #002232;
    width: 300px;
    height: 250px;
    left: 50%;
    top: 50%;
    border:1px solid black;
    display: table;
    
}
.SStart p{
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.SLoadJSON{
    /*margin: 0 auto;*/
    margin: -125px 0 0 -150px;

    background-color: #797979;
    position:absolute;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 100px #000;
    box-shadow: 0px 0px 100px #000;
    border: 2px solid #002232;
    width: 300px;
    height: 250px;
    left: 50%;
    top: 50%;
    border:1px solid black;
    display: table;
    
}
.SLoadJSON p{
  vertical-align: middle; 
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.SSaveJSON{
    /*margin: 0 auto;*/
    margin: -125px 0 0 -150px;

    background-color: #797979;
    position:absolute;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 100px #000;
    box-shadow: 0px 0px 100px #000;
    border: 2px solid #002232;
    width: 300px;
    height: 250px;
    left: 50%;
    top: 50%;
    border:1px solid black;
    display: table;
    
}
.SSaveJSON p{
  vertical-align: middle; 
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.SLayerDefinition {
    margin: -125px 0 0 -150px;

    background-color: #797979;
    position:absolute;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 100px #000;
    box-shadow: 0px 0px 100px #000;
    border: 2px solid #002232;
    width: 300px;
    height: 250px;
    left: 50%;
    top: 50%;
    border:1px solid black;
    display: table;
}

.SLayerDefinition p{
    margin-bottom: 15px;
    font-weight: bolder;
    font-size: 17px;
    
}
.SLayerDefinition div{
    position: absolute;
    width: 100%;
    top: 30%;
    left: 10%;
}
.S3DViewer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    
}
.S3DViewer canvas{
    width: 100%;
    height: 100%;
    
}
.ImageEditor{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.ImageEditor canvas{
    width: 100%;
    height: 100%;
}
.mask {
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); 
}

/*
    Loading Spinner
    See more at: http://cssload.net/#sthash.wMIaEXP2.dpuf
*/

#circular3dG{
position:relative;
width:128px;
height:128px;
top: 50%;
left: 50%;
margin: -64px 0 0 -64px;
}

.circular3dG{
position:absolute;
background-color:#2E3580;
width:36px;
height:36px;
-moz-border-radius:38px;
-moz-animation-name:bounce_circular3dG;
-moz-animation-duration:1.1199999999999999s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:38px;
-webkit-animation-name:bounce_circular3dG;
-webkit-animation-duration:1.1199999999999999s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
border-radius:38px;
animation-name:bounce_circular3dG;
animation-duration:1.1199999999999999s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circular3d_1G{
left:52px;
top:8px;
-moz-animation-delay:0.41999999999999993s;
-webkit-animation-delay:0.41999999999999993s;
animation-delay:0.41999999999999993s;
}

#circular3d_2G{
left:78px;
top:30px;
-moz-animation-delay:0.5599999999999999s;
-webkit-animation-delay:0.5599999999999999s;
animation-delay:0.5599999999999999s;
}

#circular3d_3G{
left:94px;
top:58px;
-moz-animation-delay:0.7s;
-webkit-animation-delay:0.7s;
animation-delay:0.7s;
}

#circular3d_4G{
left:88px;
top:86px;
-moz-animation-delay:0.8399999999999999s;
-webkit-animation-delay:0.8399999999999999s;
animation-delay:0.8399999999999999s;
}

#circular3d_5G{
left:54px;
top:94px;
-moz-animation-delay:0.9799999999999999s;
-webkit-animation-delay:0.9799999999999999s;
animation-delay:0.9799999999999999s;
}

#circular3d_6G{
left:10px;
top:62px;
-moz-animation-delay:1.1199999999999999s;
-webkit-animation-delay:1.1199999999999999s;
animation-delay:1.1199999999999999s;
}

#circular3d_7G{
left:0px;
top:18px;
-moz-animation-delay:1.26s;
-webkit-animation-delay:1.26s;
animation-delay:1.26s;
}

#circular3d_8G{
left:22px;
top:0px;
-moz-animation-delay:1.4s;
-webkit-animation-delay:1.4s;
animation-delay:1.4s;
}

@-moz-keyframes bounce_circular3dG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circular3dG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@keyframes bounce_circular3dG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}

.windows8 {
    position: relative;
    width: 90px;
    height:90px;
    top: 50%;
    left: 50%;
    margin: -45px 0 0 -45px;
}
.windows8 .wBall {
    position: absolute;
    width: 86px;
    height: 86px;
    opacity: 0;
    -moz-transform: rotate(225deg);
    -moz-animation: orbit 7.699999999999999s infinite;
    -webkit-transform: rotate(225deg);
    -webkit-animation: orbit 7.699999999999999s infinite;
    -ms-transform: rotate(225deg);
    -ms-animation: orbit 7.699999999999999s infinite;
    -o-transform: rotate(225deg);
    -o-animation: orbit 7.699999999999999s infinite;
    transform: rotate(225deg);
    animation: orbit 7.699999999999999s infinite;
}

.windows8 .wBall .wInnerBall{
    position: absolute;
    width: 11px;
    height: 11px;
    background: #0A0F50;
    left:0px;
    top:0px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    border-radius: 11px;
}

.windows8 #wBall_1 {
    -moz-animation-delay: 1.68s;
    -webkit-animation-delay: 1.68s;
    -ms-animation-delay: 1.68s;
    -o-animation-delay: 1.68s;
    animation-delay: 1.68s;
}

.windows8 #wBall_2 {
    -moz-animation-delay: 0.34s;
    -webkit-animation-delay: 0.34s;
    -ms-animation-delay: 0.34s;
    -o-animation-delay: 0.34s;
    animation-delay: 0.34s;
}

.windows8 #wBall_3 {
    -moz-animation-delay: 0.67s;
    -webkit-animation-delay: 0.67s;
    -ms-animation-delay: 0.67s;
    -o-animation-delay: 0.67s;
    animation-delay: 0.67s;
}

.windows8 #wBall_4 {
    -moz-animation-delay: 1.01s;
    -webkit-animation-delay: 1.01s;
    -ms-animation-delay: 1.01s;
    -o-animation-delay: 1.01s;
    animation-delay: 1.01s;
}
.windows8 #wBall_5 {
    -moz-animation-delay: 1.34s;
    -webkit-animation-delay: 1.34s;
    -ms-animation-delay: 1.34s;
    -o-animation-delay: 1.34s;
    animation-delay: 1.34s;
}
.windows8 p{
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0px 0 0 -40px;
    font-size: medium;
}
@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin:0%;
    }

    30% {
        opacity: 1;
        -moz-transform:rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin:7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin:30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:70%;
    }

    76% {
        opacity: 0;
        -moz-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }
    
    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:0%;
    }

    30% {
        opacity: 1;
        -webkit-transform:rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin:7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:70%;
    }

    76% {
        opacity: 0;
        -webkit-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin:0%;
    }

    30% {
        opacity: 1;
        -ms-transform:rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin:7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin:30%;
    }
    
    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:70%;
    }
    
    76% {
        opacity: 0;
        -ms-transform:rotate(900deg);
    }
    
    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

}


@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }
        
    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin:0%;
    }

    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
        origin:7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin:30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin:39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin:70%;
    }

    76% {
        opacity: 0;
        transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }

}

/*
    Modal Dialog
*/
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
/*
    Status Menu
*/
.statusLabel{
    margin-left: 5px;
    text-align: left;
    font-weight: bold;

    
}
.statusMessage{
    display: inline-block;
    margin-left: 10px;
    font-weight: bolder;
    cursor: pointer;

}
.led-red {
    /*margin: 12px ;*/
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #FF4A1D;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
}

.led-yellow {
    /*margin: 12px ;*/
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #FFe602;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #660 0 -1px 9px, #DD0 0 2px 12px;
}

.led-green {
    /*margin: 12px ;*/
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #AF0;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
}

.led-blue {
    /*margin: 12px ;*/
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #00DBFF;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #006 0 -1px 9px, #06F 0 2px 14px;
}



/*
    Dynamic gtlMenu
*/
.gtlMenu{
    -webkit-transition: all 250ms;
    transition: all 250ms;
    /* Background color and gradients */
	
	background: #014464;
	background: -moz-linear-gradient(top, #0272a7, #013953);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
	
	/* Borders */
	
	border: 1px solid #002232;

	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
    

    bottom: 0px;
    /*left: 300px;*/
    left: 50%;
    margin-left: -280px;
    padding: 5px 15px 5px;
    position: fixed;
    width:520px;

    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.gtlMenu a.slider {
     /* Background color and gradients */
	
	background-color: #014464;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#013953), to(rgba(2, 101, 167, 0.87)));
	background: -moz-linear-gradient(top, #013953, rgba(2, 101, 167, 0.87));
	
	/* Borders */
	
	border: 1px solid #002232;

	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
    
    border-bottom:none;
    cursor: pointer;
    float:right;
    height: 8px;
    margin:-21px 0px 0 0;
    padding:3px 20px;
    width: 8px;
    z-index: 2001;

    -moz-border-radius-topright: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.gtlMenu a.slider img {
    padding-bottom: 3px;
}

.gtlMenu li{
    display: inline-block;
}
.gtlMenu li a{
    color: #EEEEEE;
    display: block;
    padding: 5px 10px;
    text-align:left;
    text-decoration:none;
    width: auto;
    cursor: pointer;

    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-topleft: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.gtlMenuSecondLevel{

    overflow: hidden;
    top: -150px;
    width: 100%;
    padding:0px 5px 5px 0px;
    -webkit-transition: height 500ms;
    transition: height 500ms;
    
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.gtlMenuSecondLevel li:hover, li a:hover{
    
    color:#EEEEEE;
	text-shadow: 1px 1px 1px #212121;
    background-color: #0091D5;
    cursor: pointer;
/*    background: -moz-linear-gradient(top, #006494, #0272a7);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0052CF), to(#0B5EF9));*/
    
/*    background: #F4F4F4;
	background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));*/
}
.gtlMenuSecondLevel ul{
    width: 20%;
    float: left;
}
.gtlMenuSecondLevel .gtlMenuSelectedContent{
    
    display: inline-block;
    float: left;
    height: 100%;
    width: 80%;
    background-color: #EEEEEE;
    /*overflow-y: scroll;*/
    overflow: hidden;
    
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 5px 2px 1px #000;
    box-shadow: 5px 2px 1px #000;
    
}
.gtlMenuSecondLevel li {
    display: block;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    
}
.collapse{
    height: 0px;
    padding-bottom: 0px;
}
.gtlMenuSelected{
    -webkit-box-shadow: 10px 10px 5px #000;
    box-shadow: 10px 10px 5px #000;
	text-shadow: 1px 1px 1px #ffffff;
    background-color: #EEEEEE;
    color:#161616;
}
.gtlMenuContent{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.blue {
    background-color: #4244FF;
}
.white {
    background-color: #F1F6FC;
}
.yellowGreen {
    background-image: linear-gradient(to right, #FF0 0%, #10FF00 100%);
}
.red {
    background-color: #E60021;
}
.green {
    background-color: #1EA648;
}
.slider {
    width: 80px;
}
.hide {
    display: none;
}

